.header {
    text-transform: uppercase;
    color: #6b6b6b;
}

.textBackground {
    cursor: pointer;
    background-color: #E8F3E8;
}

.textBackground:hover{
    background-color: rgb(163, 208, 162);;
}